<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="projetstyle.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

      <!-- Bootstrap CSS-->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Bootstrap JS-->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="icon" href="./assets/images/favicon.ico" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="./assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <!-- animation css -->
    <link rel="stylesheet" href="./assets/plugins/animation/css/animate.min.css">
    <!-- morris css -->
    <link rel="stylesheet" href="assets/plugins/chart-morris/css/morris.css">

    <link rel="stylesheet" href="./assets/css/style.css">

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <title>Job.AT</title>
  </head>
  <body>
  <div class="menu-bar">
   <h1 class="logo">JOB.AT </h1>
     <ul>
    <li><a href="#"> <i class="glyphicon glyphicon-user" style="font-size:36px; font-palette: dark"></i><i class="bank"></i></a>
  <div class="dropdown-menu">
     <ul>
      <li><a href="compte_carte.html">Compte et cartes</a>
        </li>
         <li><a href="credit.html">Crédit</a>
    </li>
   <li><a href="assurance.html">Assurance</a>

   </li>
    <li><a href="epargne.html">Epargne</a>

         </li>
                </ul>
              </div>
        </li>




      </ul>
    </div>


  </div>



<!--galerie-->
<div class="slideshow">
<ul>
<li><img src="img/7.jpg"></li>
<li><img src="img/2.jpg"></li>
<li><img src="img/3.jpg"></li>
<li><img src="img/4.png"></li>
<li><img src="img/5.jpg"></li>
</ul>
</div>
  <br>
  <div class="display-item">

  <div class="ss quick-search__inner-pages hidden-xs-480">
<div class="container container-fluid quick-search">
<div class="quick-search__wrapper well">
<form action="https://www.tanitjobs.com/jobs/" class="form-inline row">
<input type="hidden" name="listing_type[equal]" value="Job">
<input type="hidden" name="searchId" value="1701727904.378">
<input type="hidden" name="action" value="search">
<div class="form-group form-group__input ">
<input type="text" value="" class="form-control form-control__centered" name="keywords[all_words]" id="keywords" placeholder="Mots Clés">
</div>
<div class="form-group form-group__input">
<input type="text" name="GooglePlace[location][value]" id="GooglePlace" class="form-control" value="" placeholder="Emplacement (Adresse)">

<input type="hidden" name="GooglePlace[location][radius]" value="50" id="radius" class="hidden-radius">
</div>
<div class="form-group form-group__btn">
<button type="submit" class="quick-search__find ">Rechercher</button>
</div>
</form>
</div>
</div>
</div>
  </div>
  <br>
<table class="table table-success table-striped">
 <tr>
     <td>
         #
     </td>
     <td>First</td>
     <td>Second</td>
     <td>Second</td>
 </tr>
    <tr>
        <td>
         #
     </td>
     <td>First</td>
     <td>Second</td>
     <td>Second</td>
    </tr>
</table>
<br>
  <br><br>
<footer class="footer">

  <a class="footerlogo">hellobank.com</a>

  <section class="icone_social_footer">

    <a href="#">
      <img src="https://pnggrid.com/wp-content/uploads/2021/07/Facebook-Logo-Square-768x768.png" class="icon"></a>

    <a href="#">
      <img src="https://www.comune.foggia.it/wp-content/uploads/2021/04/instagram-logo-png.png" class="icon"></a>

     <a href="#">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Telegram_logo.svg/480px-Telegram_logo.svg.png" class="icon"></a>

        <a href="#">
      <img src="https://www.espronceda.net/wp-content/uploads/2021/12/format-twitter-logo-transparent-11549680770lolovrdq8m.png" class="icon"></a>

  </section>

  <section class="disclaimer">
    <i class="testo_disclaimer">"This is where you take the first step towards your dream carear !"</i>
  </section>


</footer>



  </script>
    <!-- Required Js -->
	<script src="./assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- chart-morris Js -->
    <script src="./assets/plugins/chart-morris/js/raphael.min.js"></script>
    <script src="./assets/plugins/chart-morris/js/morris.min.js"></script>
    <script src="./assets/js/pages/chart-morris-custom.js"></script>


  </body>

</html>