<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
        <link rel="stylesheet" href="ss.css"/>
    <title>Je suis client</title>
</head>
<body>
<div class="form">
  <div class="form-panel one">
    <div class="form-header">
      <h1>Je suis client</h1>
    </div>
    <div class="form-content">
      <form>
        <div class="form-group">
          <label for="idClient">Identifiant client</label>
          <input id="idClient" type="text" name="idClient" required="required"/>
        </div>
        <div class="form-group">
          <label for="cpassword">Code secret</label>
          <input id="cpassword" type="password" name="cpassword" required="required"/>
        </div>
        <div class="form-group">
          <label class="form-remember">
            <input type="checkbox"/>Souvenir de moi
          </label>
        </div>
        <div class="form-group">
          <button type="submit">Se connecter</button>
        </div>
      </form>
    </div>
  </div>

</div>
</body>
</html>