<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
        <link rel="stylesheet" href="ss.css"/>
    <title>Devenir client</title>
</head>
<body>
<!-- Form-->
<div class="form">
  <div class="form-panel one">
    <div class="form-header">
      <h1>Devenir client</h1>
    </div>
    <div class="form-content">
      <form>
        <div class="form-group">
          <label for="username">CIN client</label>
          <input id="username" type="text" name="username" required="required"/>
        </div>

        <div class="form-group">
          <label for="cpassword">Code secret</label>
          <input id="cpassword" type="password" name="cpassword" required="required"/>
        </div>
        <div class="form-group">
          <label for="email">Confirmer code secret</label>
          <input id="email" type="email" name="email" required="required"/>
        </div>


       <tr>
       <td><input type="checkbox"  >
         <label >Compte individuel</label>
         <input type="checkbox" >
         <label > Compte joint</label>
         <input type="checkbox" >
         <label > Epargne</label>
      </td></tr>

</br>
</br>


        <div class="form-group">


          <button type="submit">S'inscrire</button>
        </div>
      </form>
    </div>
  </div>
</div>


</body>
</html>